/* General styles */
body {
    background-image: url('Img/fruit-background.jpg');
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingredient-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Header styles */
h1 {
    color: slategray;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
.smoothie-form {
    display: flex;
    flex-direction: column;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Checkbox label styles */
.form-check-label {
    margin-left: 10px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Description and total styles */
.description-total {
    font-size: 1.2rem;
    color: #343a40;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background: #e9ecef;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
